﻿@model StackOverFlowTags.ViewModels.TagPageViewModel
@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tag.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tag.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tag.Popularity)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TagList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Popularity) %
                </td>
            </tr>
        }
    </tbody>
</table>

@*Cala paginacja jest przekopiowana z mojego starego projektu ze studiow:
https://github.com/Forestf90/Consultations/blob/master/Consultations/Views/Admin/Index.cshtml*@

@{
    var prevDisabled = Model.CurrentPage < 2 ? "disabled" : "";
    var nextDisabled = Model.CurrentPage == Model.TotalPages ? "disabled" : "";

    int startI = Model.CurrentPage - 5;
}

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a href="@Url.Action("Index", new { page = Model.CurrentPage - 1 ,Model.ItemsOnPage })"
               class="btn btn-default @prevDisabled">
                Previous
            </a>
        </li>
        @if (startI < 2)
        {
            startI = 1;
        }
        else
        {
            <li class="page-item">
                <a href="@Url.Action("Index", new { page = 1 ,Model.ItemsOnPage })" class="page-link" tabindex="-1">1</a>
            </li>
            @if (Model.CurrentPage > 7)
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">...</a>
                </li>
            }
        }

        @for (int i = startI; i <= Model.TotalPages; i++)
        {
            if (Model.CurrentPage == i)
            {
                <li class="page-item active"><a class="page-link" href="@Url.Action("Index", new { page = i ,Model.ItemsOnPage})">@i</a></li>
            }
            else if (i == startI + 11)
            {
                @if (Model.TotalPages - Model.CurrentPage > 6)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">...</a>
                    </li>
                }
                if (startI + 10 < Model.TotalPages)
                {
                    <li class="page-item ">
                        <a href="@Url.Action("Index", new { page = Model.TotalPages  ,Model.ItemsOnPage })" class="page-link" tabindex="-1">@Model.TotalPages</a>
                    </li>
                }

                break;
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { page = i ,Model.ItemsOnPage })">@i</a>
                </li>
            }
        }
        <li class="page-item">
            <a href="@Url.Action("Index", new { page = Model.CurrentPage + 1 ,Model.ItemsOnPage })"
               class="btn btn-default @nextDisabled">
                Next
            </a>
        </li>
    </ul>
</nav>

<div class="dropdown">
    <button type="button" class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1">
        Tags on page
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" asp-action="Index" asp-route-itemsOnPage="40">40</a></li>
        <li><a class="dropdown-item" asp-action="Index" asp-route-itemsOnPage="60">60</a></li>
        <li><a class="dropdown-item" asp-action="Index" asp-route-itemsOnPage="80">80</a></li>
        <li><a class="dropdown-item" asp-action="Index" asp-route-itemsOnPage="100">100</a></li>
    </ul>
</div>
